<div class="login-clean">
  <form method="post">
      <img src="../../../assets/images/logo_Grinnav.jpg" class="img-responsive" />
      <div class="illustration"><i class="icon ion-ios-navigate"></i></div>
      <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
      <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Entrar</button></div></form>
</div>
