/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
html{
  background: #e8e8e8 !important;
}

.btn-sm{
  margin-right: 10px;
  width: 90px;

}
@media (max-width: 1024px){
  .col-md-4 {
    width: 50% !important;
}

.upload-button {
  width: 180px !important;
}

.btn-sm{
  margin-top: 10px;
  }
}


.navbar-right {
    float: right!important;
    margin-right: 125px;
}

a.text-nowrap {
  color: #000 !important;
  text-decoration: none;
}
