.icon {
  color: #85BD45;
}


.back-text{
  margin-left: 15px;
  top: 27px;
  position: absolute;
  font-size: 25px;
  color:#5C605F;
}

.upload-file{
  margin-left: 15px;
  top: 27px;
  position: absolute;
  font-size: 25px;
  color:#5C605F;
}

.upload-button{
  width: 250px;;
}

input[type="file"] {
  visibility: hidden;
}


.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
